@font-face {
  font-family: "Noto Sans";
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
} 


/* hide avatar decorations */
[class^=avatarDecoration__] {
    display: none;
}
svg[class^=bannerSVGWrapper__] > mask > image {
  display: none;
}
svg[class*=avatarDecorationHint__] {
  top: 0;
  left: 0;
}
svg[class*=avatarDecorationHint__] > foreignObject {
  width: 80px;
  height: 80px;
  mask: url(#svg-mask-avatar-status-round-80);
}

* {
font-family: "Noto Sans";
}

/* Hide Nitro Gift Button */
button[aria-label="Send a Gift"] {display: none;}

/* Hide Confetti Button */
button[aria-label="Add Emoji Confetti"] {display: none;}
